
body {
    border: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight:  400;
    color: #333333;
    
}


header {
    background: #333333;
    height:     46px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}


.container {
    width:  80%;
    margin: 0 auto;
}


.logoanim {
    position: relative;
    height: 36px;
    float:  left;
    padding: 5px;
    
}

.logoanim img {
    position: absolute;
    height: 36px;
    float: left;
    padding: 5px;
    transition: opacity 1s ease-in-out;
}

.logoanim img.gflogo:hover {
    opacity: 0;
    cursor: pointer;
}



nav {
    float: right;
}


nav ul {
    margin:     0;
    padding:    0;
    list-style: none;
}


nav li {
    float:  left;
    margin-left: 70px;
    padding-top: 15px;
}


nav a {
    color: #cc9999;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    
}


nav a:hover {
    color: antiquewhite;
}

h1 {
    color: ;
}

.separator {
    text-align: center;
}

h3 {
    font-size: 30px;
    text-align: center;
    color: antiquewhite;
}


.maintext {
    margin: 5% 10%;
}

.maintext p::selection {
    color: #cc9999;
    background-color: #333333;
}

.maintext h2::selection {
    color: #cc9999;
    background-color: #333333;
}
.maintext h3::selection {
    color: #cc9999;
    background-color: #333333;
}
.maintext h3::selection {
    color: #cc9999;
    background-color: #333333;
}
















